@import "custom";

$bootstrap-sm: 575px;
$bootstrap-md: 767px;
$bootstrap-lg: 991px;
$bootstrap-xl: 1199px;

h3 {
  margin: 20px 0px;
}

h2 {
  margin: 5vh  0vh;
}

button {
  margin: 0px 10px;
  font-weight: 600 !important;
  padding: 3px 15px !important;
}

@media (max-width: $bootstrap-md) {
  #responsive-navbar-nav {
    button {
    margin: 1.5vw 25vw;
    font-weight: 600 !important;
    padding: 3px 15px !important;
    }
  }
}

.modal-content {
  background-color: #62C97D;
  border-radius: 10px;
  border: none;

  .formField {
  border: 2px solid #F77B55;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-weight: 600;

    &:focus {
      border: 2px solid #f36235;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
    }
  }
}

.brandText {
  font-weight: 600;
  font-size:25px;
  padding:0px;
}

.hero, .hero2, .hero3 {
  border-radius: 0px;
  margin-bottom: 0px;
  img {
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    height: auto;
    object-fit: cover;
    object-position: bottom;
  }
}

.hero {
  background-color: #FDCA5C;
  padding-bottom: 60px;
  img {
    margin-top:5vh;
    width: 60%;
    mix-blend-mode: darken;
  }
}

.hero2 {
  background-color: #F77B55;
  padding: 32px;
  img {
    width: 100%;
  }
}

.hero3 {
  background-color: #FDCA5C;
  padding: 32px;
  img {
    width: 50%;
  }
}

@media (max-width: $bootstrap-sm) {
  .hero {
    img {
      margin-top:10vh;
      width: 90%;
      height: 220px;
    }
  }
}

#fancyBtn {
  position:absolute;
  transform:translate(-50%,-50%);
  width:150px;
  height:50px;
  text-align:center;
  line-height:50px;
  text-decoration:none;
  margin-top:15px; 
  border-radius: 10px;

    &:hover {
      svg rect {
        stroke: #F77B55;
        stroke-dasharray:200 0;
        stroke-dashoffset:0;
        fill: #F77B55;
        Opacity: 40%;
        cursor:pointer;
      } 
    }

  span{
  color: #25747D;
  text-decoration:none; 
  font-size:1.2rem;
  font-weight:700;

    &:hover {
    color:#25747D;
    text-decoration:none; 
    }
  }

  svg, svg rect {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  fill:transparent;
  border-radius: 10px;
  } 

  svg rect {
  stroke: #F77B55;
  stroke-width:8;
  transition: 1s;
  stroke-dasharray:100 100;
  stroke-linecap: round;
  stroke-dashoffset:220;
  } 
}

.footer {
  background-color: #62C97D;
  padding: 10px 0px;

  p {
    color:#25747D;
    margin:0px;
  }

  hr {
  height:2px;
  border-width:0;
  color:#25747D;
  background-color:#25747D;
  margin: 10px 32px;
  }
}

  
